.vscode/**
.vscode-test-web/**
src/**
node_modules/**
node_modules/@vscode/codicons
node_modules/@vscode/webview-ui-toolkit
.gitignore
vsc-extension-quickstart.md
webpack.config.js
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
release/**
**/test/**
.vscode-test-web/**
webview/**
images/**