body {
	padding-left: 5px;
	width: max-content;
	width: 100%;
	background: var(--vscode-editor-background);
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: var(--font-family);
	display: flex;
    justify-content: center;
}

div#outline-root {
	position: absolute;
	padding-left: 15px;
	width: 100%
}

.outline-label {
	display: flex;
	margin: 4px;
	font-size: .8rem;
	flex-direction: row;
	align-items: center
}

.outline-label span {
	color: var(--color);
	cursor: default
}

.outline-label>span.codicon {
	transition: transform .3s ease
}

.outline-node[open=true]>.outline-label>span.codicon {
	transform: rotate(90deg)
}

.outline-label>span.codicon.hover {
	animation: rotate 1.5s linear infinite
}

@keyframes rotate {
	0% {
		transform: rotate(0)
	}

	to {
		transform: rotate(1turn)
	}
}

.outline-label span.symbol-name {
	margin-left: 4px;
	cursor: pointer
}

.outline-children {
	margin-left: 1.5rem;
	padding-left: 1ch;
	height: 0;
	border-left: 1px dashed var(--color);
	opacity: 0;
	transition: none;
	pointer-events: none
}

.outline-node[open=true]>.outline-children {
	margin-left: .75rem;
	height: auto;
	opacity: 1;
	transition: margin .3s ease, opacity .2s ease;
	transform: none;
	pointer-events: all
}

.outline-node[highlight=true]>.outline-label:after {
	background-color: var(--visible-range-bgcolor)
}

.outline-node[focus=true]>.outline-label:after,
.outline-node[highlight=true]>.outline-label:after {
	position: absolute;
	left: 5px;
	z-index: -1;
	width: 100%;
	height: calc(var(--label-height) + 4px);
	content: ""
}

.outline-node[focus=true]>.outline-label:after {
	background: var(--focus-bgcolor);
	opacity: .3
}

.outline-label[diagnostic-error]:before,
.outline-label[diagnostic-hint]:before,
.outline-label[diagnostic-information]:before,
.outline-label[diagnostic-warning]:before {
	position: absolute;
	left: 7px;
	box-sizing: border-box;
	width: 10px;
	height: 10px;
	border: 1px solid;
	text-align: center;
	font-weight: 900;
	font-size: 8px;
	line-height: 8px
}

.outline-label[diagnostic-hint]:before {
	border-right: 1px solid var(--vscode-editorHint-foreground);
	color: var(--vscode-editorHint-foreground);
	content: attr(diagnostic-hint)
}

.outline-label[diagnostic-information]:before {
	border-bottom: 1px solid var(--vscode-editorInfo-foreground);
	color: var(--vscode-editorInfo-foreground);
	content: attr(diagnostic-information)
}

.outline-label[diagnostic-warning]:before {
	border-top: 1px solid var(--vscode-editorWarning-foreground);
	color: var(--vscode-editorWarning-foreground);
	content: attr(diagnostic-warning)
}

.outline-label[diagnostic-error]:before {
	border-left: 1px solid var(--vscode-editorError-foreground);
	color: var(--vscode-editorError-foreground);
	content: attr(diagnostic-error)
}

.outline-children[hide-self=true]:not(.outline-root>.outline-children) {
	margin-left: 0 !important;
	padding: 0;
	border-left: 1px dashed var(--vscode-tree-indentGuidesStroke)
}

.toast {
    position: fixed;
    margin: 5px;
    padding: 5px;
    background: var(--badge-background);
    opacity: 0.9;
    border-radius: 2px;
    transition: all ease 0.3s;
}

div#missing {
    width: 100vw;
    text-align: center;
    position: fixed;
    left: 0;
    padding-top: 1rem;
    color: var(--vscode-disabledForeground);
}